/* Global Layout Set-up */
body {
    font-family: 'Quicksand', sans-serif;
    color: black;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
    text-transform: uppercase;
}
/* Section Styles */
header .name {
    font-size: 25px;
        color: black;
    }
header ul {
        list-style-type: none;
        margin: 10px 10px 50px 10px;
        padding: 0;
        width: 0 auto;
        text-align: center;
    }
header img {
    width: 80%;
}
header li a {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 10px;
    width: 0 auto;
    padding: 20px 16px;
    background-color: white;
    text-decoration: none;
    color: black;
  }
header li:last-child {
    border-bottom: none;
  }
header {
    background-color: #f1f1f1;
    text-align: center;
    overflow: hidden;
    padding: 10px 10px 60px 10px;
    border: 0;
    margin: 0;
  }
footer .nav {
    display: none;
  }
#portfolio-title {
    text-align: center;
    padding: 40px 0 20px 0;
    margin: 0;
}
.card {
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
.card img {
    width: 100%;
  }
.contact {
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: #f1f1f1;
}
.contact a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#footerlinks { 
    width: 100%; 
    padding-inline-start: 0;
}
#footerlinks li {
    display: inline-block; 
    padding: none;
    margin: 20px 0 20px 10px;
}
#footerlinks a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#footerlinks li:last-child {
    margin-left: 40%;
    text-transform: uppercase;
}
hr {
    margin-top: 20px;
}
  /* Styles for mobile layout */
  @media screen and (min-width: 320px) {
 
  }